<html>
<head>
  <title>Details Page</title>
  <link rel="stylesheet" href="Header.css">
  <link rel="stylesheet" href="Details.css">
</head>
<body>
	<!-- HEADER -->
    <div class="Main">
        <img class="headerBackgroundImage" src='Images/HeaderBackground.png'></img>
  <div class="headerContent">
       <div class="headerImage">
          <img src='/Images/LogoTransp.png' />
      </div>
           <h3 class="headerTitle">Fair Energy Certification</h3>
      </div>
      <div class="buttonsholder">
          <a href="/"><button>Dashboard</button></a>
          <a href="/about"><button>About us</button></a>
          <a href="/register"><button>Register</button></a>
      </div>
  </div>	

    <div Class="Container">
        <div Class="Content">
          <h2 id='companyname'><%= data.name %></h2>
  
          <!-- {/* DESCRIPTION */} -->
          <div Class="Description">
            <p><%= data.description %></p>
          </div>
  
          <!-- {/* NFT LIST */} -->
          <h4>EPCoins</h4>
          <div id='NFTHistory' Class="Progressbar">
            <!-- <img class="ProgressbarItem" src="Images/NFT.png" />
            <img class="ProgressbarItem" src="Images/NFT.png" />
            <img class="ProgressbarItem" src="Images/NFT.png" /> -->
          </div>
  
          <!-- {/* PROGRESS GRAPH */}   -->
          <div Class="ProgressChart">
            <h4>Progress chart</h4>
            <canvas ref={(ref) => graphRefs.current[0] = ref}></canvas>
            <button classname="selectedButton" id='consumption' onClick="selectNewChart(consumption)">Consumption</button>
            <button id='green' onClick="selectNewChart(green)">Green</button>
            <button id='sharing' onClick="selectNewChart(sharing)">Sharing</button>
          </div>
  
        </div>
      </div>
</body>

<script>

const getCompanyHistoryData = async () =>
{
  document.getElementById('NFTHistory').innerHTML = "";
  
  let companyID = -1;

  let companyName = '<%= data.name %>'
  let companyData = '<%= companyData %>';
  let CIDdata = '<%= CID %>';

  console.log(CIDdata);

  let companyDataArray = companyData.split(',');
  companyData = [];
  for (let i = 0; i < companyDataArray.length; i += 2) {
    let index = companyDataArray[i];
    let string = companyDataArray[i + 1];
    companyData.push([index, string]);
  }

  let CIDArray = CIDdata.split(',');
  CIDdata = [];
  for (let i = 0; i < CIDArray.length; i += 2) {
      let date = CIDArray[i];
      let CID = CIDArray[i + 1];
      CIDdata.push([date, CID]);
  }

  for await (const data of companyData) {
    if (data[1] == companyName)
    {
      companyID = data[0];
    }
  }

  for await (const data of CIDdata) {
    const metadata = "https://blush-worldwide-swift-945.mypinata.cloud/ipfs/" + data[1] + '/' + companyID + data[0] + '.json';
    let img = getImageFromJSON(metadata);

    img.then((result) => {
        const imageElement = document.createElement("img");
        imageElement.src = result;
        imageElement.className = "ProgressbarItem";
        imageElement.onclick = function() { window.open("https://volta-explorer.energyweb.org/token/0x558b10458e7DaD251fDcff0e9e58696dB6538AC3/instance/" + companyID + data[0] + "/token-transfers") };
        document.getElementById('NFTHistory').appendChild(imageElement);
    });
  }
};

async function getImageFromJSON(jsonLink) {
  try {
    const response = await fetch(jsonLink);
    const jsonData = await response.json();
    
    const imageUrl = 'https://blush-worldwide-swift-945.mypinata.cloud/ipfs/' + jsonData.image.replace(/^ipfs:\/\//, '');

    return imageUrl;
  } catch (error) {
    console.error("Error fetching JSON data:", error);
    return null;
  }
}

function handleImgClick(item)
{
  const id = item.token.match(/\/(\d+)\.png$/)[1];
  let NFTMintURL = "https://volta-explorer.energyweb.org/token/0x05Aae7227b2CF0C69020E365A02b43e68c10F8B4/instance/" + id + "/token-transfers"; //TODO: make a global var out of the smart contract address and access here
  window.open(NFTMintURL);
}

getCompanyHistoryData();
</script>
</html>